<template name="Home">
  <main class="jumbotron" id="content" role="main" tabindex="-1">
    <div class="container">
      <h1>
        Hoagie <small>From chaos to organized.</small>
      </h1>
      <p class="lead">
        Hoagie is a beautiful management app for self-managed community.
        Effortlessly manage your group matters, transparent budgets and documents from one place.
      </p>
      <p class="lead">
        <a href="getting-started#download" class="btn btn-primary btn-lg">Sign up free</a>
      </p>
      <p>Made in Potrero Hill, San Francisco</p>
    </div>
  </main>
</template>
