<template name="GroupsDocuments">
  <div class="page-header">
    <h1>Documents from Google Drive</h1>
  </div>
  <div class="groups-documents">
    <iframe src="https://drive.google.com/embeddedfolderview?id=0BwdHHrZJsouncW9NQ0tVdmZPVmc#list"
      class="col-md-12"
      height="1400" frameborder="0" scrolling="no">
    </iframe>
  </div>

</template>

<template name="oldDocuments">
  <div class="groups-documents">
    <div class="page-header">
      <h1>Documents</h1>
    </div>
    <div>
      {{#each documents}}
        {{> uploadedFile}}
      {{/each}}
    </div>
    <div>
      <h3 id="upload">Upload</h3>
      <div id="dropzone" class="dropzone well">
        <div style="text-align: center; color: gray;">Drop file to upload</div>
        <input type="file" multiple class="documents">
      </div>
    </div>
  </div>
</template>

<template name="uploadedFile">
  <h4>{{#with this.url}}<a href="{{this}}" target="_blank">{{../name}}</a>{{else}}{{this.name}}{{/with}} ({{this.size}} bytes)</h4>
  {{#if this.isUploaded}}
  {{#with this.url download=true}}
  <a href="{{this}}" class="btn btn-default btn-xs" role="button">Download</a>
  {{/with}}
  {{> FS.DeleteButton class="btn btn-danger btn-xs"}}
  {{else}}
  <p>{{> FS.UploadProgressBar semantic=true}} Uploading...</p>
  {{/if}}
</template>
